.box{
    border: 1px solid black;
    padding: 40px;
}

#grandparent:hover{
    width: 200px;
    background-color: green;
}

#parent:hover{
    background-color: aqua;
}

#child:hover{
    background-color: red;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}