.para1 {
  color: green;
}
#para1 {
  color: aqua;
}

.para1 {
  font: 20px;
  line-height: 20px;
  border: blueviolet 2px solid;
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */

  display: grid;
  /* grid-template-columns: 150px 200px 150px auto; */
  /* grid-template-columns: 150px 200px 150px 1fr; */
  /* grid-template-columns: auto auto auto auto; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(4,auto); */
  /* grid-template-rows: 100px 100px 100px; */
  grid-auto-columns: 150px;
  grid-auto-rows: 200px;
  gap: 10px;
  grid-template-areas: 
  "box5 box5 box2"
  "box4 box1 box2"
  "box4 box3 box3";

  
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  /* width: 120px; */
  /* height: 120px; */
  /* border: black 2px solid; */

}
/* .box:nth-child(odd){
    background-color: red;
} */