body {
  margin: 0;
  /* min-height: 100vh; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    gap: 20px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
}
h2{
    margin-bottom: 2px;
}
.input-box{
    height: 30px;
    width: 300px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    /* text-align: center; */
    padding-left: 10px;
    /* font-family: 'Times New Roman', Times, serif; */

}
.sub-btn{
    border: none;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    color: white;
    background-color: rgb(84, 147, 255);
}


.login-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #f7fbff, #ffffff);
}